body{
    background:#E5E5E5; ;
}

.logo{
    position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;
height: 48px;
width: 31.085588455200195px;
left: 44px;
top: 0px;
border-radius: 0px;
}

.textbox{
    position: absolute;
width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;

font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
height: 48px;
width: 577px;
left: 240px;
top: 168px;
border-radius: 10px;
border-color: #E5E5E5;
}

.encriptar{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    width: 280px;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;    
    height: 67px;
    width: 328px;
    left: 352px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    position: absolute;
    top: 750px;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    color: #ffffff;
    background: #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;    
  

}

.desencriptar{
    height: 67px;
width: 328px;
left: 352px;
top: 0px;
border-radius: 24px;
padding: 24px;
box-sizing: border-box;

/* Auto layout */

position: absolute;
left: 750px;
top: 750px;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}
 
.rectangle{
position: absolute;
width: 400px;
height: 780px;
left: 1200px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

.muñeco{
    position: absolute;
width: 336px;
height: 304px;
left: 30px;
top: 250px;

}

.messages{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
text-align: center;
position: absolute;
width: 336px;
height: 122px;
left: 80px;
top: 619px;
}

.message{
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}

#copy-button {
    position: absolute;
    top: 750px;
    left: 20px;
    width: 328px;
    height: 67px;
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 24px; 
    border: none ; 
    cursor: pointer; 
    border-radius: 24px;
  }